Binaries/Win64
Plugins/**/Binaries/Win64
DerivedDataCache
Intermediate
Saved
Content/Developers
Releases
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/UserEngine.ini
*.pdb
.*
!/.gitignore
Wwise_GoldFever_ThePromisedLand.Auris.validationcache
Wwise_GoldFever_ThePromisedLand.Auris.wsettings
Content/UWidgets/EUW_LoadData.uasset
Config/Version.ini
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/WindowsServer/FileOpenOrder/CookerOpenOrder.log
Build/WindowsServer/FileOpenOrder/EditorOpenOrder.log

GoldFever.sln.DotSettings.user
/Content/__ExternalActors__/Developers
/Content/__ExternalObjects__/Developers
